.cart{
    position: relative;
    border: 3px solid #ccc;
    transform: scaleY(1);
    color: white;
}
.amount span{
    color:crimson;
    padding: 0 20px;
}
.amount button{
    width: 40px;
    height: 40px;
    border: 1px solid aqua;
}
.delete{
    position: absolute;
    top:0;
    right:6px;
    color:crimson;
    font-weight: 900;
    cursor:pointer;
}
.total{
    width:100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.total h2{
    color: crimson;
}
.total button{
    height:30px;
    width:10%;
    font-weight: 700;
    justify-content: center;
    box-shadow:0 0 5px black;
    color: white;
    background-color: red;
    border-radius: 5px;
}